<div class="container my-5">
  <div class="row">
    <div class="mx-auto col-12">
      <div class="text-center">
        <p class="about-title">About</p>
        <p>
          ながのCAKE全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>
    </div>
  </div>
</div>